<div flux:schemaLocation="http://fluidtypo3.org/schemas/flux-7.0.0.xsd" lang="en"
     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"

     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <f:section name="Main">
        <div>
            <table cellpadding="0" cellspacing="0" width="490">
                <tbody>
                <tr>
                    <td style="border-top:1px #c7c7c7 solid; padding-bottom:15px">
                        <table cellpadding="0" cellspacing="0" width="490">
                            <tbody>
                            <tr>
                                <td width="234">
                                    <center><img alt="datamints Logo" src="http://kommunikation.datamints.com/email_signature/logo/Logo.png">
                                    </center>
                                </td>
                                <td width="256">
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td colspan="2"><font face="Roboto, Arial" size="2"><br>
                                                datamints GmbH </font></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><font face="Roboto, Arial" size="2">Im Thal 1 </font></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><font face="Roboto, Arial" size="2">82377 Penzberg </font></td>
                                        </tr>
                                        <tr>
                                            <td width="40"><font face="Roboto, Arial" size="2">Tel. </font></td>
                                            <td><font face="Roboto, Arial" size="2"><a href="tel:+498856830830" style="font-family: Roboto, Arial;font-family:Roboto,Arial; text-decoration:none; color:#000000">+49 (0)8856 / 830 83-0</a>
                                            </font></td>
                                        </tr>
                                        <tr>
                                            <td width="40"><font face="Roboto, Arial" size="2">Fax. </font></td>
                                            <td><font face="Roboto, Arial" size="2"><a href="tel:+4988568308310" style="font-family: Roboto, Arial;font-family:Roboto,Arial; text-decoration:none; color:#000000">+49 (0)8856 / 830 83-10</a>
                                            </font></td>
                                        </tr>
                                        <tr>
                                            <td width="40"><font face="Roboto, Arial" size="2">Web </font></td>
                                            <td><font face="Roboto, Arial" size="2"><a href="https://datamints.com" style="font-family: Roboto, Arial;font-family:Roboto,Arial; text-decoration:none; color:#208a9e">www.datamints.com</a>
                                            </font></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#208a9e" cellpadding="0" cellspacing="0" width="490">
                            <tbody>
                            <tr>
                                <td height="96" width="25">&nbsp;</td>
                                <td height="96" width="211"><font color="#ffffff" face="Roboto, Arial" size="2">Bitte wenden Sie sich bei allen technischen Fragen an unseren
                                    <b>Support:</b> </font></td>
                                <td height="96" width="40">
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="bottom"><font color="#ffffff" face="Roboto, Arial" size="2">Tel. </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom"><font color="#ffffff" face="Roboto, Arial" size="2">Mail </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom"><font color="#ffffff" face="Roboto, Arial" size="2">Web </font>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td height="96" width="214">
                                    <table cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="bottom"><font face="Roboto, Arial" size="2"><a href="tel:+4988568308323" style="font-family: Roboto, Arial;text-decoration:none; color:#ffffff">+49 (0)8856 / 830 83-23</a>
                                            </font></td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom"><font face="Roboto, Arial" size="2"><a href="mailto:service@datamints.com" style="font-family: Roboto, Arial;color:#ffffff; text-decoration:none">service@datamints.com</a>
                                            </font></td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom"><font face="Roboto, Arial" size="2"><a href="http://www.datamints.com/support.html" style="font-family: Roboto, Arial;text-decoration:none; color:#ffffff">Supportformular</a>
                                            </font></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="490">
                            <tbody>
                            <tr>
                                <td height="80" width="236"><font size="1" style="font-size:12px; font-family:Roboto,Arial">Handelsregister: München, HRB 154447<br>
                                    UmsSt. ID: DE238378572 </font></td>
                                <td height="80" width="40">&nbsp;</td>
                                <td height="80" width="214"><font size="1" style="font-size:12px; font-family:Roboto,Arial">Geschäftsführer:<br>
                                    Dirk Maiwert </font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </f:section>
</div>
