{namespace dm=Datamints\Distribution\ViewHelpers}
<div flux:schemaLocation="http://fluidtypo3.org/schemas/flux-7.0.0.xsd" lang="en"
     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"

     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <f:section name="Main">
        <f:format.raw>font-family:Arial;</f:format.raw>
    </f:section>
    <f:section name="text-center">
        <f:format.raw>text-align:center;</f:format.raw>
    </f:section>
    <f:section name="text-right">
        <f:format.raw>text-align:right;</f:format.raw>
    </f:section>
    <f:section name="text-left">
        <f:format.raw>text-align:left;</f:format.raw>
    </f:section>
    <f:section name="w-100">
        <f:format.raw>width:100%;</f:format.raw>
    </f:section>
    <f:section name="bg-white">
        <f:format.raw>background-color:#ffffff;</f:format.raw>
    </f:section>
    <f:section name="padding">
        <f:format.raw>padding:10px;</f:format.raw>
    </f:section>
</div>
